<%- include("templates/header") %> 

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Basic jumbotron</h1>
      <p class="lead">
        <h2>Page Not Found - 404</h2>
        <img src='/kevin.gif'>
      </p>
    </div>
  </div>
<br>
<img src='/kevin.gif'>
<%- include("templates/footer") %> 