<%- include("templates/header") %>
<h1>Welcome!</h1>
<a class="btn btn-info rounded-pill px-3" href='/login'>Log In</a>
<a class="btn btn-info rounded-pill px-3" href='/signup'>Sign Up</a>
<%- include("templates/footer") %>
