<%- include("templates/header") %> 
<h1>Welcome, <%= name %> ! </h1>
<a class="btn btn-info rounded-pill px-3" href='/members'>Members</a>
<a class="btn btn-info rounded-pill px-3" href='/logout'>Log Out</a>
<%- include("templates/footer") %> 