<%- include("templates/header") %> 
<h2>You are logged in!</h2>
<br />
<div class="row">
  <div class="col-lg-4"><img src="/jim.gif" width="400px"></div>
  <div class="col-lg-4"><img src="/michael.gif" width="400px"></div>
  <div class="col-lg-4"><img src="/stanley.gif" width="400px"></div>
</div>
<br>
  <a href="/logout" class="btn btn-primary">Sign Out</a>

<%- include("templates/footer") %>
